h1{
    color: red;
}
div p{

    font-size: 20pt;
}

#p1{
    color: blueviolet;
}

#p2{
    color: blue;(112, 67, 13);
}

.classe_exemplo{
    background-color: red;
}

#id_exemplo{
    background-color: blueviolet;
}

a:hover{
    background-color: aqua;
}

a:visited{
    color: brown;
}
    
div:hover{
    background-color:grey ;
}