#primeira_linha{
    text-align: center;
    font-size: 25pt;
}
.fotoperfil{
    text-align: center;
}
body{
    background-color: burlywood;
    font-family: Arial, Helvetica, sans-serif
}
a:visited{
    color: brown;
}
a:hover{
    color: rgb(255, 145, 0);
}
p{
    font-size: 14pt;
}
a{
    color: rgb(165, 67, 42);
}
.linguagens{
    text-align: center;
    font-size: large;
}
ul{
    font-size: 16pt;
}
#entre_links{
    position: fixed;
    bottom: 0;
    right: 0;
}
